{% extends 'Contributions/base.html' %}
{% load mathfilters%}
{% load crispy_forms_tags%}
{%block content%}
<br>

        <div class="row">
            <div class="col col-sm">

                <div class="card ">
                      <div class="card-header ">
                          <span>Source of income</span>
                      </div>
                            <div class="card card-body">
                              <form action="" method="POST">
                                  {% csrf_token%}
                                  {{srcform|crispy}}
                                    <br>
                                 <div class="form-group">
                                       <input type="submit" class="btn btn-primary" name="submit" value='SUBMIT'>
                                 </div>


                              </form>
                            </div>
                </div>

            </div>

<!--      right column-->
            <div class="col col-sm">
                <div class="card card-body">
                    <table class="table table-striped table-bordered">
                            <tr>
                                <th>SN</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Date</th>
                            </tr>

                        {% for item in fundSource %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{item.amount}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.date_deposited}}</td>
                             </tr>
                        {%endfor%}
                        <tr>
                            <td colspan="5">Balance: {{totalinc.amount}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
{%endblock%}
