{% extends 'Contributions/base.html' %}
{% load mathfilters%}
{% load crispy_forms_tags%}
{%load humanize%}
{%block content%}
<div class="card">
    <div class="card-body">
        <div class="row">
<!--      left column-->
      <div class="col col-sm">
          <div class="card card-primary card-outline">
                <div class="card card-header ">
                    <h1 class="text text-primary"> Expenditure </h1>
                </div>
                <form action="" method="POST">
              {% csrf_token%}
              {{expform|crispy}}
                <br>
             <div class="form-group">
                   <input type="submit" class="btn btn-primary" name="submit" value='SUBMIT'>
             </div>


          </form>
          </div>


      </div>
<!-- Include the right column-->
            {% include  'Contributions/expendituretable.html'%}
    </div>
    </div>

</div>
{%endblock%}

