<!--      right column-->
{% load mathfilters%}
{%load humanize%}
<div class="col col-sm">
            <div class="card card-header ">
                            <h1 class="text text-primary">Expenditure List</h1>
                        </div>
        <table id='tabledata' class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Item</th>
                    <th>Item Quantity</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody>
             {% for exp in matumizi%}
                <tr>
                <td>{{forloop.counter}}</td>
                <td>{{exp.item}}</td>
                <td>{{exp.quantity}}</td>
                <td>{{exp.amount|intcomma}}</td>
                <td>{{exp.description}}</td>
                <td>{{exp.created_at}}</td>
              </tr>
             {%endfor%}
            </tbody>


            <tr >
                <td colspan='2'></td>
                <td  colspan='3' class="text text-primary">Total: {{totalexp.amount|intcomma}}/=</td>
            </tr>
        </table>

      </div>