{% extends 'Contributions/base.html' %}
{% load mathfilters%}
{% load crispy_forms_tags%}
{%block content%}
<br>

        <div class="row">
            <div class="col col-sm">

                <div class="card ">
                      <div class="card-header ">
                          <h1>Source of income</h1>
                      </div>
                            <div class="card card-body">
                              <form action="" method="POST">
                                  {% csrf_token%}
                                  {{srcform|crispy}}
                                    <br>
                                 <div class="form-group">
                                       <input type="submit" class="btn btn-primary" name="submit" value='SUBMIT'>
                                 </div>


                              </form>
                            </div>
                </div>

            </div>

<!-- include right column -->
            {% include "Contributions/incometable.html"%}
        </div>
{%endblock%}
