{%load humanize%}
<!--begin expenditure-->
            <div class="col col-sm">

                        <div class="card card-header ">
                            <h1 class="text text-primary">Cash Expenditure </h1>
                        </div>

                        <table  id="tabledata" class="table  ">
                            <thead>
                                <tr>
                                <th>SN</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Category of Expense</th>
                             </tr>
                            </thead>
                            <tbody>
                            {%for exp in matumizi %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{exp.title}}</td>
                                <td>{{exp.description|safe}}</td>
                                <td>{{exp.amount}}</td>
                                <td>{{exp.created_at}}</td>
                                <td>{{exp.category.cat_name}}</td>

                            </tr>
                            {%endfor%}
                            </tbody>
                            <hr style="width:50%", size="3", color=black>
                            <tr >
                                <td colspan='2' ></td>
                                <td  colspan='4' class="text text-primary">Total: {{totalexp.amount|intcomma}}/=</td>
                            </tr>
                        </table>


            </div>

<!--End expenditure-->
