<div class="container my-5">
  <footer class="text-center text-lg-start" style="background-color: silver;">
    <div class="container d-flex justify-content-around py-5">
      <i class="bi-facebook" style="font-size: 50px; color: grey;"></i>
      <i class="bi-youtube"  style="font-size: 50px; color: grey;"></i>
      <i class="bi-instagram" style="font-size: 50px; color: grey;"></i>
      <i class="bi-twitter" style="font-size: 50px; color: grey;"></i>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © Copyright:
      <a class="text-white" href="">Tanzania is my Home</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
