{% extends 'Contributions/base.html' %}
{% load mathfilters%}
{%load humanize%}
{% block content%}

<div class="card">
    <div class="card-body">
        <div class="row">
<!--            income begins -->
            {% include 'Contributions/incomedt.html'%}
<!--            income ends-->
<!--            expenditure begins-->
            {% include 'Contributions/expendituredt.html'%}
<!--            expenditure ends-->

        </div>
        <hr>
         <div class="row">
             <h1>Balance is: {{totalinc.jumla|sub:totalexp.amount|intcomma}} /=</h1>


          </div>
    </div>
</div>

{%endblock content%}
